<!-- shop/templates/shop/about.html -->
{% extends 'base.html' %}

{% block title %}About Us - MAC Shop{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        <h1>About BuzzAR</h1>
        <p class="lead">Your trusted online shopping destination.</p>
        
        <h3>Our Story</h3>
        <p>BuzzAR was founded with a mission to provide quality products at affordable prices. We are committed to excellent customer service and fast delivery.</p>
        
        <h3>Why Choose Us?</h3>
        <ul>
            <li>Quality Products</li>
            <li>Fast Delivery</li>
            <li>Secure Payment</li>
            <li>24/7 Customer Support</li>
            <li>Easy Returns</li>
        </ul>
        
        <h3>Contact Information</h3>
        <p>Email: info@buzzar.com<br>
        Phone: +91 123-456-7890<br>
        Address: Delhi, India</p>
    </div>
</div>
{% endblock %}